body {
    color: black;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: gray;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 darkgray;
    transform: scale(1.02); 
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:black
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, green) 100% ; 
}

.incorrect {
    background: linear-gradient(32deg, red) 100%; 
}
/* Heads up Display */ 
#heads up display {
    font-size:4rem;
    display: flex;
    justify-content: space-between;
}

.heads up display-prefix {
    text-align: center;
    font-size: 2rem;
}

.heads up display-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%; 
}

@media screen and (max-width: 768px) {
    .choice-container {
    min-width: 40rem;
    }
}